<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'daos.show-daos.title' | translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> {{'common.back-btn'| translate}}
                    </h3>
                </div>
                <div class="card-header">
                    <div class="flex-row-10">
                        <h3 class="card-title">{{daoName}}</h3>
                        <div class="btn-group btn-group-justified btn-group-raised" *ngIf="daoAccountRs === accountRs">
                            <a class="btn btn-sm btn-grey btn-icon" (click)="toggleEditMode()"
                               triggers="mouseenter:mouseleave" container="body" placement="top"
                               ngbPopover="{{'common.edit-table-action'| translate}}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <ng-container *ngIf="!editMode">
                        <form>
                            <div class="flex-row-10" *ngIf="!!webPageUrl">
                                <label>{{'daos.show-daos.web-page-url'| translate}}</label>
                                <a href="{{webPageUrl}}" target="_blank">{{webPageUrl}}</a>
                            </div>
                            <div class="flex-row-10" *ngIf="!!chatChannelUrl">
                                <label>{{'daos.show-daos.chat-channel'| translate}}</label>
                                <a href="{{chatChannelUrl}}" target="_blank">{{chatChannelUrl}}</a>
                            </div>
                            <div class="flex-row-10" *ngIf="!!sharedDataLinkUrl">
                                <label>{{'daos.show-daos.shared-data-link'| translate}}</label>
                                <a href="{{sharedDataLinkUrl}}" target="_blank">{{sharedDataLinkUrl}}</a>
                            </div>
                        </form>
                    </ng-container>
                    <ng-container *ngIf="!!editMode">
                        <form class="form inner-form" #daoAdditionalInfoForm="ngForm" novalidate>
                            <div class="form-body">
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="form-group m-0">
                                            <label>{{'daos.show-daos.web-page-url'| translate}}</label>
                                            <div class="input-group m-0">
                                                <input type="text" class="form-control" name="webPageUrl" #webPage="ngModel"
                                                       [(ngModel)]="webPageUrl" placeholder="{{'common.url-label'| translate}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="form-group m-0">
                                            <label>{{'daos.show-daos.chat-channel'| translate}}</label>
                                            <div class="input-group m-0">
                                                <input type="text" class="form-control" name="chatChannelUrl" #chatChannel="ngModel"
                                                       [(ngModel)]="chatChannelUrl" placeholder="{{'common.url-label'| translate}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="form-group m-0">
                                            <label>{{'daos.show-daos.shared-data-link'| translate}}</label>
                                            <div class="input-group m-0">
                                                <input type="text" class="form-control" name="sharedDataLinkUrl" #sharedDataLink="ngModel"
                                                       [(ngModel)]="sharedDataLinkUrl" placeholder="{{'common.url-label'| translate}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" (click)="updateExternalDaoInfo()"
                                        class="btn btn-primary mr-1 mt-1 mb-0 btn-gradient">
                                    {{'common.save-btn'| translate}}
                                </button>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </ng-container>
                </div>
                <div class="card-header">
                    <h3 class="card-title">
                        {{'daos.show-daos.all-teams' | translate}}
                    </h3>
                    <div class="pull-right filter-group">
                        <div class="btn-group btn-group-justified btn-group-raised">
                            <a href="javascript:void(0)" class="btn btn-sm btn-grey btn-icon" (click)="reload()"
                               triggers="mouseenter:mouseleave" container="body"
                               placement="top" [ngbPopover]="'common.reload-filter-popover' | translate">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block ml-md-3 mr-md-3">
                        <ngx-datatable class="material" [rows]="rows" [columnMode]="columnModes.force"
                                       [rowHeight]="'auto'"
                                       [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements"
                                       [offset]="page.pageNumber"
                                       [limit]="page.size" (page)='setPage($event)'
                                       (autoRefresh)="setPage({offset: 0})">
                            <ngx-datatable-column prop="aliasName" [name]="'table-header.name'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <a class="hyperlink" (click)="routeUri(value)">
                                        {{value.split('TN').pop().split('TT').shift()}}
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="aliasURI" [name]="'table-header.team-account'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.split('acct:').pop().split('@xin').shift()}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="teamToken" [name]="'table-header.team-token'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value?.name?.split('TT').pop()}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="teamToken" [name]="'Max. team members' | translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value ? (value.quantityQNT! | supply:value.decimals) : ''}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="teamToken" [name]="'shareholders' | translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value?.numberOfAccounts!}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="teamToken" [name]="'table-header.actions'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div class="btn-group-raised">
                                        <a class="btn btn-sm btn-grey btn-icon"
                                           (click)="sendMessage(value)"
                                           triggers="mouseenter:mouseleave" container="body" placement="top"
                                           [ngbPopover]="'daos.show-team-members.send-message-table-action' | translate">
                                            <i class="icon-messages"></i>
                                        </a>
                                        <a class="btn btn-sm btn-grey btn-icon"
                                           (click)="createPoll(value)"
                                           triggers="mouseenter:mouseleave" container="body" placement="top"
                                           [ngbPopover]="'daos.show-teams.create-poll-table-action' | translate">
                                            <i class="icon-Voting"></i>
                                        </a>
                                        <a class="btn btn-sm btn-grey btn-icon"
                                           (click)="transferTeamToken(value)"
                                           triggers="mouseenter:mouseleave" container="body" placement="top"
                                           [ngbPopover]="'daos.show-daos.transfer-token-table-action' | translate"
                                           [ngClass]="(value && value.accountRS === accountRs && value.teamWallet !== accountRs) ? 'enable' : 'disabled'">
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
