<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'daos.create-dao.title' | translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block ml-md-3 mr-md-3">
                        <aw-wizard [navBarLayout]="'large-filled-symbols'" [navigationMode]="'semi-strict'" #awWizard>
                            <aw-wizard-step stepTitle="{{'daos.create-dao.steps.create-dao'| translate}}"
                                            [navigationSymbol]="{ symbol: '1' }">
                                <app-create-dao [wizard]="wizard" [createDaoForm]="createDaoForm"></app-create-dao>
                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="{{'daos.create-dao.steps.create-team'| translate}}" [navigationSymbol]="{ symbol: '2' }">
                                <app-create-dao-team [wizard]="wizard"></app-create-dao-team>
                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="{{'daos.create-dao.steps.founders'| translate}}"
                                            [navigationSymbol]="{ symbol: '3' }">
                                <app-founders [wizard]="wizard"></app-founders>
                            </aw-wizard-step>

                            <aw-wizard-step
                                    stepTitle="{{'daos.create-dao.steps.team-members'| translate}}"
                                    [navigationSymbol]="{ symbol: '4' }">
                                <app-add-team-members [wizard]="wizard"></app-add-team-members>
                            </aw-wizard-step>

                            <!--<aw-wizard-step stepTitle="{{'daos.create-dao.steps.approval-accounts'| translate}}"
                                            [navigationSymbol]="{ symbol: '3' }">
                                <app-approval-accounts [wizard]="wizard"></app-approval-accounts>
                            </aw-wizard-step>-->

                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
