<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
              <div class="card-block main-card-block">
                <div class="border-bt">
                  <h2 class="main-title">{{'daos.show-daos.title' | translate}}</h2>
                  <app-breadcrumb></app-breadcrumb>
                </div>
                <ul class="nav nav-tabs nav-fill nav-auto mt-4" (click)="onTabChange();">
                    <li class="nav-item">
                        <a class="nav-link{{!!this.modeAll ? ' active' : ''}}" href="javascript:void(0)">{{'common.all' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{!this.modeAll ? ' active' : ''}}" href="javascript:void(0)">{{'common.my' | translate}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="card-header">
                            <h3 class="card-title">{{'daos.show-daos.' + (!!this.modeAll ? 'all-daos' : 'my-daos') | translate}}</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-block ml-md-3 mr-md-3">
                                <ngx-datatable class="material" [rows]="!!this.modeAll ? rows : myRows" [columnMode]="columnModes.force"
                                               [rowHeight]="'auto'"
                                               [footerHeight]="50" [externalPaging]="true" [count]="!!this.modeAll ? page.totalElements : myPage.totalElements"
                                               [offset]="!!this.modeAll ? page.pageNumber : myPage.pageNumber"
                                               [limit]="!!this.modeAll ? page.size : myPage.size" (page)='setPage($event)'
                                               (autoRefresh)="setPage({offset: 0})">
                                    <ngx-datatable-column prop="aliasName" [name]="'table-header.name'| translate">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <a class="hyperlink" (click)="routeUri(value)">
                                                {{value.split('DAO').pop()}}
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="aliasURI"
                                                          [name]="'table-header.root-account'| translate">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{accountId(value)}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!--<ngx-datatable-column prop="teams" [name]="'table-header.teams'| translate">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value}}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="members" [name]="'table-header.members'| translate">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value}}
                                      </ng-template>
                                    </ngx-datatable-column>-->
                                    <ngx-datatable-column prop="aliasURI" [name]="'table-header.actions'| translate">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div class="btn-group-raised">
                                                <!--<a class="btn btn-sm btn-grey btn-icon" (click)="daoDetails()"
                                                   triggers="mouseenter:mouseleave" container="body" placement="top"
                                                   ngbPopover="{{'common.details-table-action'| translate}}">
                                                  <i class="fa fa-list-ul"></i>
                                                </a>-->
                                                <a class="btn btn-sm btn-grey btn-icon"
                                                   (click)="sendMessage(value)"
                                                   triggers="mouseenter:mouseleave" container="body" placement="top"
                                                   [ngbPopover]="'daos.show-team-members.send-message-table-action' | translate">
                                                    <i class="icon-messages"></i>
                                                </a>
                                                <a class="btn btn-sm btn-grey btn-icon"
                                                   (click)="showDaoPolls(value)"
                                                   triggers="mouseenter:mouseleave" container="body" placement="top"
                                                   [ngbPopover]="'daos.show-daos.show-dao-polls-table-action' | translate">
                                                    <i class="icon-Voting"></i>
                                                </a>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'daos.show-daos.title' | translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-header">
                    <h3 class="card-title">
                        {{'daos.show-daos.all-daos' | translate}}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card-block ml-md-3 mr-md-3">
                        <ngx-datatable class="material" [rows]="rows" [columnMode]="columnModes.force"
                                       [rowHeight]="'auto'"
                                       [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements"
                                       [offset]="page.pageNumber"
                                       [limit]="page.size" (page)='setPage($event)'
                                       (autoRefresh)="setPage({offset: 0})">
                            <ngx-datatable-column prop="aliasName" [name]="'table-header.name'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <a class="hyperlink" (click)="routeUri(value)">
                                        {{value.split('DAO').pop()}}
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="aliasURI" [name]="'table-header.root-account'| translate">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{accountId(value)}}
                                </ng-template>
                            </ngx-datatable-column>
                            &lt;!&ndash;<ngx-datatable-column prop="teams" [name]="'table-header.teams'| translate">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="members" [name]="'table-header.members'| translate">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>&ndash;&gt;
                            <ngx-datatable-column prop="aliasURI" [name]="'table-header.actions'| translate">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div class="btn-group-raised">
                                        &lt;!&ndash;<a class="btn btn-sm btn-grey btn-icon" (click)="daoDetails()"
                                           triggers="mouseenter:mouseleave" container="body" placement="top"
                                           ngbPopover="{{'common.details-table-action'| translate}}">
                                          <i class="fa fa-list-ul"></i>
                                        </a>&ndash;&gt;
                                        <a class="btn btn-sm btn-grey btn-icon"
                                           (click)="sendMessage(value)"
                                           triggers="mouseenter:mouseleave" container="body" placement="top"
                                           [ngbPopover]="'daos.show-team-members.send-message-table-action' | translate">
                                            <i class="icon-messages"></i>
                                        </a>
                                        <a class="btn btn-sm btn-grey btn-icon"
                                           (click)="showDaoPolls(value)"
                                           triggers="mouseenter:mouseleave" container="body" placement="top"
                                           [ngbPopover]="'daos.show-daos.show-dao-polls-table-action' | translate">
                                            <i class="icon-Voting"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
