<form class="form inner-form mt-5 create-dao-form" #teamForm="ngForm" novalidate>
    <div class="form-body">
        <ng-container *ngIf="!wizard">
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group m-0">
                        <label>{{'common.select-dao'| translate}}</label>
                        <select name="type" class="form-control" [(ngModel)]="currentDao"
                                (change)="setDao(currentDao)" required>
                            <option *ngFor='let dao of daoList | async' [value]="dao?.aliasName">
                                {{dao?.aliasName?.split('DAO').pop()}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group m-0">
                        <label>{{'common.team-wallet-label'| translate}}</label>
                        <div class="input-group m-0">
                            <input type="text" class="form-control" name="teamWallet" #teamWallet="ngModel"
                                   [(ngModel)]="createTeamForm.teamWallet" placeholder="XIN-______-____-______"
                                   required>
                        </div>
                        <div *ngIf="teamWallet?.invalid && (teamWallet?.dirty || teamWallet?.touched)"
                             class="input-error">
                            <div *ngIf="teamWallet?.errors.required">
                                {{'aliases.edit-alias.uri-required'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group m-0">
                        <label>{{'common.team-wallet-confirm-label'| translate}}</label>
                        <div class="input-group m-0">
                            <input type="text" class="form-control" name="teamWalletConfirmation"
                                   #teamWalletConfirmation="ngModel"
                                   [(ngModel)]="createTeamForm.teamWalletConfirmation"
                                   placeholder="XIN-______-____-______"
                                   required>
                        </div>
                        <div *ngIf="teamWalletConfirmation?.invalid && (teamWalletConfirmation?.dirty || teamWalletConfirmation?.touched)"
                             class="input-error">
                            <div *ngIf="teamWalletConfirmation?.errors.required">
                                {{'aliases.edit-alias.uri-required'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group m-0">
                    <label>{{'daos.create-dao.labels.team' + (!!wizard ? '-founder' : '') + '-name' | translate}}</label>
                    <div class="input-group m-0 row">
                        <input type="text" class="form-control" name="name"
                               #name="ngModel"
                               [(ngModel)]="createTeamForm.name"
                               placeholder="{{'daos.create-dao.placeholders.team' + (!!wizard ? '-founder' : '') + '-name-placeholder' | translate}}"
                               required>
                    </div>
                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                         class="input-error">
                        <div *ngIf="name?.errors.required">
                            {{'daos.create-dao.validation.name-is-required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-0">
                    <label>{{'daos.create-dao.labels.team' + (!!wizard ? '-founder' : '') + '-shortcode' | translate}}</label>
                    <div class="input-group m-0 row">
                        <input type="text" class="form-control" name="prefix"
                               #prefix="ngModel"
                               [(ngModel)]="createTeamForm.prefix"
                               placeholder="{{'daos.create-dao.placeholders.team' + (!!wizard ? '-founder' : '') + '-shortcode-placeholder' | translate}}"
                               required>
                    </div>
                    <div *ngIf="prefix?.invalid && (prefix?.dirty || prefix?.touched)"
                         class="input-error">
                        <div *ngIf="prefix?.errors.required">
                            {{'daos.create-dao.validation.shortcode-is-required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group m-0">
                    <label>{{'daos.create-dao.labels.team-quantity-label' | translate}}</label>
                    <div class="input-group m-0 row">
                        <div class="col-11 pl-0">
                            <input type="number"
                                   class="pl-0 mb-0 pt-0 pb-0 form-control"
                                   name="quantity"
                                   #quantity="ngModel"
                                   [(ngModel)]="createTeamForm.quantity"
                                   placeholder="{{'daos.create-dao.labels.team-quantity-label' | translate}}"
                                   required>
                        </div>
                        <div class="col-1 text-right pl-0">
                            <span class="input-group-text text-right">{{'daos.create-dao.dao-quantity-unit' | translate}}</span>
                        </div>
                    </div>
                    <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)"
                         class="input-error">
                        <div *ngIf="quantity?.errors.required">
                            {{'common.quantity-required'| translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group m-0">
                    <label>{{'common.description-label' | translate}}</label>
                    <div class="input-group m-0">
                                                        <textarea rows="4" class="form-control" name="description"
                                                                  #description="ngModel"
                                                                  [(ngModel)]="createTeamForm.description"
                                                                  placeholder="{{'daos.create-dao.placeholders.dao-description-placeholder' | translate}}"
                                                                  required></textarea>
                    </div>
                    <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                         class="input-error">
                        <div *ngIf="description?.errors.required">
                            {{'common.description-required'| translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="!!wizard; else outsideOfDao">
            <button type="button" class="btn btn-gradient float-right" (click)="createTeam()"
                    [disabled]="teamForm.invalid">
                {{'common.next-btn'| translate}} <i class="fa fa-chevron-right"></i>
            </button>
            <!--<button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                <i class="fa fa-chevron-left"></i> {{'common.previous-btn'| translate}}
            </button>-->
        </ng-container>
        <ng-template #outsideOfDao>
            <button type="button" class="btn btn-gradient float-right" (click)="createTeam()"
                    [disabled]="teamForm.invalid">
                {{'common.create-btn'| translate}}
            </button>
        </ng-template>
    </div>
</form>
