@import "bootstrap/scss/functions";
@import "scss/vendor-prefixes";

// 2. Include any default variable overrides here
@import "scss/variables";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/alert";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

@import "scss/sidebar-content";
@import "scss/responsive";
@import "scss/custom";


@import "scss/aw-wizard";




.app-sidebar .sidebar-content, .off-canvas-sidebar .sidebar-content {
  height: calc(100vh - 115px);
}
.btn-outline-danger {
  padding: 3px 6px;
}

.datatable-header-cell-template-wrap, .datatable-body-cell-label {
  text-align: center;
}

.ngx-datatable .datatable-body .datatable-scroll,
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner,
.ngx-datatable .datatable-body .datatable-body-row,
.ngx-datatable .datatable-row-center{
  width: 100% !important;
}
.ngx-datatable .datatable-header {
  height: auto !important;
}
.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
  white-space: normal;
}
.short-links{
  cursor: pointer;
  &:hover {
    box-shadow: 0 0px 0px 0 rgb(255, 255, 255), 0 5px 15px 0 theme-color("primary") !important;
  }
  .media-body.text-center{
    font-size: 18px;
    line-height: 47px;
  }
}
//TODO: remove class ng2-smart-table-title after smart table removed from app
.datatable-header-cell-label, .ng2-smart-title a {
  color: theme-color("dark") !important;
}
.nav-tabs .nav-link.active {
  border-top: 3px solid theme-color("primary") !important;
}


.ngx-datatable {
  .empty-row {
    padding: 0.5rem 1rem;
    text-align: center;
    color: #9d9faf;
  }
  .datatable-body-cell{
    border-right: 1px solid #f5f5f0;
    padding: 15px 5px;
  }
  .datatable-body-cell, .datatable-header-cell{
    -webkit-box-align: center; 
    -ms-flex-align: center;
    align-items: center; 
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; 
    display: -webkit-box !important;
      display: -ms-flexbox !important;
    display: flex !important; 
  }
  .datatable-body .datatable-body-row {
    border-left: 1px solid #f5f5f0;
  }

}
